@model VMBlog

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Kanun - Law Firm Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Law Firm Website Template" name="keywords">
    <meta content="Law Firm Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/Site/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Site/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/Site/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header">
                    <h2>Latest From Blog</h2>
                </div>
                <div class="row blog-page">
                    @foreach (Blog blog in Model.Blogs)
                    {
                        <div class="col-lg-4 col-md-6 blog-item">
                            <img src="~/Uploads/@blog.PreviewImage" alt="Blog">
                            <h3>@blog.Title</h3>
                            <div class="meta">
                                <i class="fa fa-list-alt"></i>
                                <a href="">@blog.Category?.Name</a>
                                <i class="fa fa-calendar-alt"></i>
                                <p>@blog.PublishDate.ToString("dd-MM-yyyy")</p>
                            </div>
                            <p>
                                @blog.Description
                            </p>
                            <a class="btn" asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">Read More <i class="fa fa-angle-right"></i></a>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/Site/lib/easing/easing.min.js"></script>
    <script src="/Site/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Site/lib/isotope/isotope.pkgd.min.js"></script>

    <!-- Template Javascript -->
    <script src="/Site/js/main.js"></script>
</body>
</html>
